Repository crytic/slither, changes with the owners that CODEOWNERS names for each.
All owners: @smonicas, @elopez, @bohendo

CODEOWNERS:

*                            @smonicas
/slither/tools/doctor/       @elopez
/slither/tools/mutator/      @bohendo
/.github/workflows/          @elopez

Update `web3`, `eth-*` dependencies
  setup.py
  slither/tools/read_storage/read_storage.py
  tests/tools/read-storage/test_read_storage.py
Owners: @smonicas

Update version 0.11.3
  setup.py
Owners: @smonicas

Update FUNDING.json
  FUNDING.json
Owners: @smonicas

Create funding.json. I guess it's caps sensitive.
  funding.json
Owners: @smonicas

Update .gitignore
  .gitignore
  examples/.pre-commit-hooks.yaml
Owners: @smonicas

changed 11 files
  .gitignore
  .markdownlint.json
  .pre-commit-hooks.yaml
  CONTRIBUTING.md
  docs/src/printers/Printer-documentation.md
  noarch/current_repodata.json
  noarch/index.html
  noarch/repodata.json
  noarch/repodata_from_packages.json
  plugin_example/README.md
  plugin_example/slitherconda.code-workspace
Owners: @smonicas

modified .gitignore and index.html
  .gitignore
  noarch/index.html
Owners: @smonicas

fix ssa dependency
  slither/analyses/data_dependency/data_dependency.py
Owners: @smonicas

lint code
  slither/analyses/data_dependency/data_dependency.py
Owners: @smonicas

add test for dependency problems
  tests/unit/analyses/__init__.py
  tests/unit/analyses/test_data/parameter_dependency_ssa.sol
  tests/unit/analyses/test_data_dependencies.py
Owners: @smonicas

update state variable to use VariableLocation enum
  slither/core/variables/local_variable.py
  slither/core/variables/state_variable.py
Owners: @smonicas

add VariableLocation enum for LocalVariable class
  slither/core/variables/local_variable.py
  tests/unit/slithir/test_ssa_generation.py
Owners: @smonicas

update test_ssa_generation property check
  tests/unit/slithir/test_ssa_generation.py
Owners: @smonicas

set comparison to enum value
  slither/core/variables/local_variable.py
  slither/core/variables/state_variable.py
Owners: @smonicas

move VariableLocation to variable.py
  slither/core/variables/local_variable.py
  slither/core/variables/state_variable.py
  slither/core/variables/variable.py
  tests/unit/slithir/test_ssa_generation.py
Owners: @smonicas

update location implementation to use VariableLocation Enum class
  slither/core/variables/local_variable.py
  slither/core/variables/state_variable.py
  slither/slithir/utils/ssa.py
  slither/solc_parsing/declarations/custom_error.py
  slither/solc_parsing/declarations/function.py
  slither/solc_parsing/variables/local_variable.py
  slither/solc_parsing/variables/local_variable_init_from_tuple.py
  slither/solc_parsing/variables/state_variable.py
  slither/solc_parsing/yul/parse_yul.py
  slither/vyper_parsing/declarations/function.py
  slither/vyper_parsing/variables/local_variable.py
  tests/unit/slithir/test_ssa_generation.py
Owners: @smonicas

Update variable location to use VariableLocation enum
  slither/detectors/compiler_bugs/array_by_reference.py
  slither/detectors/functions/external_function.py
  slither/detectors/variables/uninitialized_state_variables.py
  slither/solc_parsing/variables/local_variable.py
  slither/tools/flattening/flattening.py
Owners: @smonicas

reformat with black
  slither/detectors/compiler_bugs/array_by_reference.py
Owners: @smonicas

enable markdown linter
  .github/workflows/linter.yml
Owners: @elopez

add .markdownlint.yaml base config
  .markdownlint.yaml
Owners: @smonicas

Update and fix Usage.md based on markdownlint
  docs/src/Usage.md
Owners: @smonicas

Update and fix Data-dependency.md based on markdownlint
  docs/src/api/Data-dependency.md
Owners: @smonicas

fix fenced code blocks on docs/src/tutorials
  docs/src/tutorials/exercise1.md
  docs/src/tutorials/exercise2.md
Owners: @smonicas

fix markdown on Upgradeability-Checks.md
  docs/src/tools/Upgradeability-Checks.md
Owners: @smonicas

fix first-line-heading issue on tools/README.md and tools/Slither-format.md
  docs/src/tools/README.md
  docs/src/tools/Slither-format.md
Owners: @smonicas

fix markdown on tools/Property-generation.md
  docs/src/tools/Property-generation.md
Owners: @smonicas

fix markdown on tools/Path-Finding-Utility.md
  docs/src/tools/Path-Finding-Utility.md
Owners: @smonicas

fix markdown on tools/ERC-Conformance.md
  docs/src/tools/ERC-Conformance.md
Owners: @smonicas

fix remaining docs/src/tools/
  docs/src/tools/Adding-a-new-utility.md
  docs/src/tools/Code-Similarity-Detector.md
  docs/src/tools/Contract-Flattening.md
Owners: @smonicas

fix docs/src/printers/
  docs/src/printers/Printer-documentation.md
Owners: @smonicas

fix docs/src/detectors/
  docs/src/detectors/Adding-a-new-detector.md
  docs/src/detectors/Detector-Documentation.md
Owners: @smonicas

fix docs/src/api/
  docs/src/api/JSON-output.md
  docs/src/api/README.md
  docs/src/api/SlithIR-SSA.md
  docs/src/api/SlithIR.md
  docs/src/api/static_analysis.md
Owners: @smonicas

allow html tag img for custom image size and fix SUMMARY.md
  .markdownlint.yaml
  docs/src/SUMMARY.md
Owners: @smonicas

set MARKDOWN_CONFIG_FILE name for superlinter
  .github/workflows/linter.yml
Owners: @elopez

move .markdownlint.yaml to .github/linters/.markdown-lint.yaml
  .github/linters/.markdown-lint.yaml
  .github/workflows/linter.yml
Owners: @smonicas, @elopez

fix markdown related issue outside docs/src
  README.md
  tests/e2e/printers/test_data/test_printer_cheatcode/README.md
Owners: @smonicas

chore: fix typos
  docs/src/tools/Code-Similarity-Detector.md
  slither/core/cfg/node.py
  slither/core/declarations/contract.py
  slither/detectors/compiler_bugs/uninitialized_function_ptr_in_constructor.py
  slither/detectors/statements/pyth_unchecked.py
  slither/solc_parsing/expressions/find_variable.py
  slither/tools/kspec_coverage/analysis.py
  slither/tools/similarity/plot.py
  tests/e2e/solc_parsing/test_data/yul-solady.sol
Owners: @smonicas

docs: fix typos
  docs/src/detectors/Detector-Documentation.md
  docs/src/printers/Printer-documentation.md
  docs/src/tools/Code-Similarity-Detector.md
  docs/src/tools/Upgradeability-Checks.md
Owners: @smonicas

Fix crash when casting an address and accessing its members
  slither/visitors/expression/constants_folding.py
Owners: @smonicas

Fix crash when casting a string to byte*
  slither/visitors/expression/constants_folding.py
Owners: @smonicas
