Repository crytic/slither, changes with the owners that CODEOWNERS names for each.
All owners: @montyly, @0xalpharush, @smonicas, @elopez

make web3>=6.0.0 a dependency
  setup.py
  slither/tools/read_storage/read_storage.py
Owners: @montyly, @0xalpharush, @smonicas

changes web3.toChecksumAddress() to web3.to_checksum_address()
  slither/tools/read_storage/read_storage.py
Owners: @0xalpharush

Uninitialised local vars bug fixed
  slither/solc_parsing/declarations/function.py
Owners: @montyly, @0xalpharush, @smonicas

Merge `get_constant_storage_slots` into `get_all_storage_variables`
  slither/tools/read_storage/__main__.py
  slither/tools/read_storage/read_storage.py
  tests/test_unstructured_storage.py
Owners: @0xalpharush, @montyly, @smonicas

Handle storage slot hardcoded in fallback
  slither/tools/read_storage/read_storage.py
Owners: @0xalpharush

Handle storage slot hardcoded in fallback
  slither/tools/read_storage/read_storage.py
  tests/storage-layout/StorageSlot.bin
  tests/storage-layout/TEST_unstructured_storage.json
  tests/storage-layout/UnstructuredStorageLayout.abi
  tests/storage-layout/UnstructuredStorageLayout.bin
  tests/storage-layout/unstructured_storage-0.8.10.sol
  unstructured_storage.json
Owners: @0xalpharush, @montyly, @smonicas

Compact `get_all_storage_variables`
  slither/tools/read_storage/read_storage.py
Owners: @0xalpharush

Black
  slither/tools/read_storage/read_storage.py
Owners: @0xalpharush

Use Literal.value instead of string casting
  tests/test_unstructured_storage.py
Owners: @montyly, @0xalpharush, @smonicas

Tests and comment added
  slither/solc_parsing/declarations/function.py
  tests/detectors/uninitialized-local/0.5.16/local_variables_initialised_in_tuple.sol
  tests/detectors/uninitialized-local/0.5.16/local_variables_initialised_in_tuple.sol.0.5.16.UninitializedLocalVars.json
  tests/detectors/uninitialized-local/0.6.11/local_variables_initialised_in_tuple.sol
  tests/detectors/uninitialized-local/0.6.11/local_variables_initialised_in_tuple.sol.0.6.11.UninitializedLocalVars.json
  tests/detectors/uninitialized-local/0.7.6/local_variables_initialised_in_tuple.sol
  tests/detectors/uninitialized-local/0.7.6/local_variables_initialised_in_tuple.sol.0.7.6.UninitializedLocalVars.json
  tests/slithir/test_var_renaming_tuple.py
  tests/slithir/var_renaming_tuple.sol
  tests/test_detectors.py
Owners: @montyly, @0xalpharush, @smonicas

Use `Contract.get_functions_reading_from_variable`, check function return type sizes, and add comments in `find_constant_slot_storage_type`
  slither/tools/read_storage/read_storage.py
Owners: @0xalpharush

Get Literal from expression instead of string casting
  slither/tools/read_storage/read_storage.py
Owners: @0xalpharush

Always check fallback function
  slither/tools/read_storage/read_storage.py
Owners: @0xalpharush

Modularize pytest fixtures used by both `test_read_storage` and `test_unstructured_storage` by moving them into individual files in tests/fixtures/ and importing them into conftest.py
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/fixture_ganache.py
  tests/fixtures/fixture_web3.py
  tests/fixtures/ganache_instance.py
  tests/test_read_storage.py
  tests/test_unstructured_storage.py
Owners: @montyly, @0xalpharush, @smonicas

updated/refactored tests, have problem with function id
  slither/printers/call/call_graph.py
  tests/printers/TestTopLevelASTJSON.zip
  tests/printers/TestTopLevels.sol
  tests/printers/TestTopLevels.sol.Hello.call-graph.dot
  tests/printers/TestTopLevels.sol.TestTopLevels.call-graph.dot
  tests/printers/TestTopLevels.sol.TopLevelImported.call-graph.dot
  tests/printers/TestTopLevels.sol.all_contracts.call-graph.dot
  tests/printers/TopLevelImported.sol
  tests/test_top_level_fns.py
Owners: @montyly, @0xalpharush, @smonicas

Include custom errors in `generate_interface`
  slither/utils/code_generation.py
Owners: @montyly, @0xalpharush, @smonicas

pylint
  slither/tools/read_storage/read_storage.py
Owners: @0xalpharush

fixed tests
  slither/printers/call/call_graph.py
  tests/printers/TestTopLevelASTJSON.zip
  tests/printers/TestTopLevels.sol.Hello.call-graph.dot
  tests/printers/TestTopLevels.sol.TestTopLevels.call-graph.dot
  tests/printers/TestTopLevels.sol.TopLevelImported.call-graph.dot
  tests/printers/TestTopLevels.sol.all_contracts.call-graph.dot
  tests/test_top_level_fns.py
Owners: @montyly, @0xalpharush, @smonicas

add bug revealing test for #1748
  tests/test_ssa_generation.py
Owners: @montyly, @0xalpharush, @smonicas

fix #1748
  slither/visitors/slithir/expression_to_slithir.py
Owners: @montyly, @0xalpharush, @smonicas

Change `isConnected` to `is_connected`
  tests/test_unstructured_storage.py
Owners: @montyly, @0xalpharush, @smonicas

CODEOWNERS:

*                            @montyly @0xalpharush @smonicas
/slither/tools/read_storage/ @0xalpharush
/slither/tools/doctor/       @elopez
/slither/slithir/            @montyly
/slither/analyses/           @montyly
/.github/workflows/          @elopez
